= simple_form_for([group, recipe]) do |f|
  .form-group
    = f.input :amount, required: true, autofocus: true, placeholder: "0.00", input_html: { class: 'form-control' }
  .form-group
    = f.input :description, required: true, autofocus: true, placeholder: "Enter description", input_html: { class: 'form-control' }
  .form-group
    = f.input :users, collection: @permited_users, label_method: :email, as: :check_boxes
  .form-actions
    = f.button :submit, class: 'btn btn-primary'
