%h1
  = "Group #{group.name}"
%h2 Adding new member:
= simple_form_for @user, url: create_user_group_path, method: :post do |f|
  .form-group
    = f.input :email, autofocus: true, placeholder: "Enter email", input_html: { class: 'form-control' }
  .form-group
    = f.button :submit, "Add", class: 'btn btn-default'
