%h1
  = "Group #{group.name}"
%p
  = link_to 'Add new recipe', new_group_recipe_path(group), class: 'btn btn-primary'

%table.table
  %tr
    %th Name:
    %th Money:
    %th Balance:
  -group.users.each do |user|
    - next if user == current_user
    %tr
      %td
        = user.email
      %td
        = user.amount
      %td
        = button_to "Balance", { action: "balance_user", user_id: user.id }, data: { confirm: "Are you sure?" }, class: 'btn btn-primary'

%p
  = link_to 'Add new member',add_user_group_path, class: 'btn btn-primary'
